.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: #ffffff;
    color: #100101;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-search input {
    padding: 5px;
    font-size: 1em;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-links a {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: black; /* Kolor czarny */
    transition: color 0.3s ease; /* Płynne przejście koloru */
}

.navbar-links a:hover {
    color: blue; /* Kolor niebieski po najechaniu */
}